{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'resume/style.css' %}">
        <title>{% block title %}{% endblock %} resume</title>
    </head>
<body>
    <div class="content container">
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
