{% extends 'resume/base.html' %}

{% block title %}
    {{ resume.name }}'s resume
{% endblock %}

{% block content %}
    <div class="col-md-8">
        <div class="top-buttons">
            <div class="btn-group">
                {% if not show_comments %}
                    <a href="{% url 'resume' %}?show_comments=" class="btn btn-default"> Show comments </a>
                {% else %}
                    <a href="{% url 'resume' %}" class="btn btn-default"> Hide comments </a>
                {% endif %}
                <a target="_blank" href="https://github.com/buzsb/django_practice_blog" class="btn btn-default">
                    Code of this site
                    <img src="/static/resume/github.png" height="18">

                <a target="_blank" href="https://github.com/buzsb" class="btn btn-default">
                    My GitHub page
                    <img src="/static/resume/github.png" height="18">
                </a>
            </div>
        </div>

        <div class="name"> 
            <h1>
                <strong>{{ resume.name }}</strong>
            </h1>
        </div>

        <div class="position_title">
            <h2> 
                <strong>{{ resume.position_title }}</strong>
            </h2>
        </div>
        
        <div class="age">
            Age - {{ age }} years old
            <br>
            {% if show_comments %}
                <div class="comments">
                    Age is calculated dynamically using date of birth and current date
                </div>
            {% endif %}
        </div>

        <div class="e_mail"> 
            Email - <a href="mailto:{{ resume.e_mail }}">{{ resume.e_mail }}</a>
        </div>

        <div class="phone_number"> 
            Phone number - {{ resume.phone_number }}
        </div>

        <div class="skype"> 
            <p>Skype - {{ resume.skype }}</p>
        </div>

        <div class="skills">
            <h3> <strong>Professional skills</strong> </h3>
            <p>{{ resume.skills }}</p>
        </div>

        <div class="languages_skills">
            <h3> <strong>Languages</strong> </h3>
            {% for language_level in language_levels %}
                <p>{{ language_level.language.language }} - {{ language_level.level }}</p>
            {% endfor %}
            {% if show_comments %}
                <div class="comments">
                    Languages are stored in a separate table and levels - in the intermediate table, which is also used for many-to-many relationship
                </div>
            {% endif %}
        </div>
        
        <div class="education">
            <h3> <strong>Education</strong> </h3>
            <p>{{ resume.education }}</p>
        </div>

        <div class="additional_information">
            <h3> <strong>Additional Information</strong> </h3>
            <p>{{ resume.additional_information }}</p>
        </div>
    </div>
{% endblock %}
