{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'resume/style.css' %}">
        <title>Oleksandr Buz resume</title>
    </head>
<body>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% if not show_comments %}
                    <a href="{% url 'resume' %}?show_comments="> Show comments </a>
                {% else %}
                    <a href="{% url 'resume' %}"> Hide comments </a>
                {% endif %}
                <div class="position_title">
                    <h1> <strong>{{ resume.position_title }}</strong> </h1>
                </div>
                <div class="name"> 
                    Name - {{ resume.name }}
                </div>
                <div class="age">
                    Age - {{ age }}
                    <br>
                    {% if show_comments %}
                        <div class="comments">
                            Here age calculate dynamically, using a birthday and present date
                        </div>
                    {% endif %}
                </div>
                <div class="e_mail"> 
                    Email - {{ resume.e_mail }}
                </div>
                <div class="phone_number"> 
                    <p>Phone number - {{ resume.phone_number }}</p>
                </div>
                <div class="education">
                    <h3> <strong>Education</strong> </h3>
                    <p>{{ resume.education }}</p>
                </div>
                <div class="languages_skills">
                    <h3> <strong>Languages</strong> </h3>
                    <p>{{ resume.languages_skills }}</p>
                </div>
                <div class="skills">
                    <h3> <strong>Professional skills</strong> </h3>
                    <p>{{ resume.skills }}</p>
                </div>
                <div class="additional_information">
                    <h3> <strong>Additional Information</strong> </h3>
                    <p>{{ resume.additional_information }}</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
