{% extends 'resume/base.html' %}

{% block title %}{{ resume.name }}{% endblock %}

{% block content %}
    <div class="col-md-8">
        <div class="top-buttons">
            <div class="btn-group">
                {% if not show_comments %}
                    <a href="{% url 'resume' %}?show_comments=" class="btn btn-default"> Show comments </a>
                {% else %}
                    <a href="{% url 'resume' %}" class="btn btn-default"> Hide comments </a>
                {% endif %}
                <a href="https://github.com/buzsb/django_practice_blog" class="btn btn-default">
                    Code of this site
                    <img src="http://i.stack.imgur.com/eoNf5.png" height="18">
                </a>
            </div>
        </div>
        <div class="position_title">
            <h1> <strong>{{ resume.position_title }}</strong> </h1>
        </div>
        <div class="name"> 
            Name - {{ resume.name }}
        </div>
        <div class="age">
            Age - {{ age }}
            <br>
            {% if show_comments %}
                <div class="comments">
                    Age is calculated dynamically using date of birth and current date
                </div>
            {% endif %}
        </div>
        <div class="e_mail"> 
            Email - {{ resume.e_mail }}
        </div>
        <div class="phone_number"> 
            <p>Phone number - {{ resume.phone_number }}</p>
        </div>
        <div class="education">
            <h3> <strong>Education</strong> </h3>
            <p>{{ resume.education }}</p>
        </div>
        <div class="languages_skills">
            <h3> <strong>Languages</strong> </h3>
            {% for language_level in language_levels %}
                <p>{{ language_level.language.language }} - {{ language_level.level }}</p>
            {% endfor %}
            {% if show_comments %}
                <div class="comments">
                    Languages are stored in a separate table and levels - in the intermediate table, which is also used for many-to-many relationship
                </div>
            {% endif %}
        </div>
        <div class="skills">
            <h3> <strong>Professional skills</strong> </h3>
            <p>{{ resume.skills }}</p>
        </div>
        <div class="additional_information">
            <h3> <strong>Additional Information</strong> </h3>
            <p>{{ resume.additional_information }}</p>
        </div>
    </div>
{% endblock %}