body {
    background-color: #aad6a9;
}

.content {
    margin-left: 40px;
    margin-top: 10px;
}

.row {
    font-size: 14pt;
    padding: 5px
}

.comments {
    display: inline-flex;
    background-color: #FFE9A3;
    margin-bottom: 5px;
    border: solid 1px black;
}

.top-buttons a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

.top-buttons a:hover, .top-buttons a:focus {
    background: #7E827A;
    border: solid 1px black;
    text-shadow: 1px 1px black;
    color: white;
}
